.header{
    width: 100%;
    height: 5dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 3%;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--gray-200);
}

.welcomeMessage{
    display: flex;
    align-items: center;
    gap: 15px;
}

.welcomeMessage h1{
    font-size: 1.6rem;
}

.headerUtilities{
    display: flex;
    gap: 30px;
}

.notificationsIcon{
    width: 1.8rem;
    cursor: pointer;
}

.searchBarWrapper{
    width: 30rem;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.searchBar{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--gray-400);
    padding: 0 12px;
    font-size: 1.2rem;
}

.searchBar:focus{
    outline: 1px solid var(--green-color);
}

.searchBarWrapper img{
    width: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
}