#root {
  max-width: 1280px;
  text-align: center;
}

.login{
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo{
  width: 276px;
  height: 32px;
}

.full-content{
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

.main-content{
  width: 84dvw;
  display: flex;
  flex-direction: column;
}